*{
    margin: 0;
    padding: 0;
}
html{
    background: #FFF;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    font-family: Helvetica Neue, PingFang SC, Verdana, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
body{
    width: 100%;
    min-height: 100%;
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;
}
.TOP{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #e4e4e4
}
.header{
    display: flex;
    position: relative;
    padding-left: 353px;
    height: 65px;
    
}
.logo-container .common-logo{
    display: flex;
    position: absolute;
    width: 120px;
    height: 65px;
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/logo-wap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nav-list{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
}
.middle{
    display: flex;
    position: relative;
    padding-left: 26px;
    justify-content: center;
    white-space: nowrap;
}
.middle a{
    text-decoration: none;
    color: #353535;
    padding: 8px 14.23px;
    font-weight: 400;

}
.middle a:hover{
    color: #fa8919;
}
.middle .jiangtang{
    color: #fa8919;
}

.middle .nav-position{
    position: relative;
}
.middle .new-icon{
    position: absolute;
    width: 20px;
    height: 12px;
    right: -6px;
    top: 3px;
}
.middle .service{
    padding-left: 33px;
    background: no-repeat left 14px top 13px/16.5px auto;
    background-image: url(https://static001.geekbang.org/resource/image/73/2f/7332298e129e69c4f3620026f50d652f.png);
}



.middle .phone{
    display: inline-block;
    position: absolute;
    right: 82px;
    bottom: 12px;
    width: 12px;
    height: 21px;
    background: url(https://static001.geekbang.org/static/time/img/geek_elements/phone.png) center no-repeat;
    background-size: contain;
}    


.search-btn:hover .iconfont{
    background: url(sousuo1.png)center no-repeat;
    background-size: contain;
}


.search-btn{
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #404040;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.iconfont{
    position: absolute;
    width: 18.5px;
    height: 31px;
    left: 12px;
    background: url(sousuo.png)center no-repeat;
    background-size: contain;
}

.header-right{
    display: flex;
    align-items: center;
}
.header-right .control{
    display: flex;
    min-width: 200px;
    margin-left: 24.5px;
    margin-top: 1px;
}
.control a{
    font-size: 16px;
    color: #888;
    display: block;
    height: 65px;
    line-height: 65px;
    font-weight: 400;
    cursor: pointer;
}
.control a:first-child:after {
    content: "|";
    margin-left: 8px;
    margin-right: 8px;
}
.body{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto 60px;
    padding-top: 115px;
    white-space: nowrap;
}
.left-part{
    display: block;
}
.toppart{
    margin-bottom: 26px;
}
.route{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    -webkit-box-align: center;
}
.left-route{
    font-size: 16px;
    font-weight: 500;
    color: #353535;
}
.right-route{
    font-size: 13px;
    font-weight: 400;
    color: #888;
    cursor: pointer;
}
.bottompart{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-top: 12px;
}
.bottompart .block{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 171px;
    height: 56px;
    padding-right: 13px;
    padding-left: 10px;
    margin-right: 9px;
    vertical-align: top;
    background: #f6f7fa;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.word{
    height: 32px;
}
.big-word{
    width: 112px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
    transition: color 0.2s ease;
}
.block:hover .big-word{
    color: #fa8919;
}
.small-word{
    margin-top: -3px;
    margin-left: -11px;
    font-size: 13px;
    font-weight: 400;
    color: #888;
    transform: scale(0.8);
}
.img-block{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
}


.big-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-box-align: start;
}
.boxpart{
    width: 711px;
    min-height: 180px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgba(46,61,72,0.05);
}
.small-box{
    margin-top: 14px;
}
.one-box{
    display: flex;
    position: relative;
    align-items: baseline;
    -webkit-box-align: baseline;
    padding-left: 20px;
    padding-right: 20px;
}
.one-box .first-word{
    min-width: 50px;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
}
.one-box .all{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(233, 233, 233, 0.6);
}
.all .whole{
    font-weight: 500;
    color: #fa8919;
    background: #fbf5ee;
}
.all a{
    position: relative;
    margin-right: 5px;
    margin-bottom: 12px;
    padding: 0 12px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 14px;
    color: #888;
    white-space: nowrap;
    text-decoration: none;
}
.all img{
    position: absolute;
    width: 20px;
    height: 12px;
    right: -11px;
    top: -4px;
}
.big-content{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
}
.big-content .content{
    width: 711px;
}
.content .number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgba(233,233,233,0.6);
}
.content .number-left{
    display: flex;
}
.number-left .five-first{
    font-weight: 500;
    color: #666565;
}
.number-left a{
    position: relative;
    color: #888;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 400;
    margin-right: 20px;
    
}
.content .number-right{
    font-size: 12px;
    color: #888;
    font-weight: 400;
}



.Image-Text{
    display: block;
}
.Image-Text .single{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-lert{
    flex-basis: 127px;
    width: 127px;
    height: 168px;
}
.single-lert a{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    border-radius: 5px;

}
.single-lert .img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.single-right{
    width: calc(100% - 147px);
    padding: 40px 0;
    margin-left: 20px;
    border-bottom: 1px solid rgba(233,233,233,0.6);
}
.single-right .upper{
    cursor: pointer;
}
.upper-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
}
.upper-one h2{
    font-size: 20px;
    color: #404040;
    font-weight: 500;
    line-height: 24px;
    margin-right: 10px;
}
.upper-one p{
    font-size: 14px;
    font-weight: 300;
    color: #888;
    line-height: 24px;
    white-space: nowrap;
    letter-spacing: 1px;
}
/* .upper-one em{
    font-weight: 300;
} */
.upper-two{
    margin-top: 5px;
    max-width: 100%;
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.in{
    box-sizing: border-box;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 16px;
}
.in ul{
    display: flex;
    flex-wrap: wrap;
}
.in li:nth-child(2n-1) {
    padding-right: 20px;
    overflow: hidden;
}
.in li{
    width: 50%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.in-word{
    position: relative;
    padding-left: 30px;
}
.in a{
    -webkit-box-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
    color: #404040;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.in-smallword{
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 48px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
    color: #fa8919;
    transform: scale(0.5);
    transform-origin: top left;
    border: 1px solid #fa8919;
    border-radius: 6px;
}
.lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}
.lower .price{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.lower .price-left{
    color: #fa8919;
    font-size: 18px;
    font-weight: 400;
}
.lower .price-right{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: 1px;
}
.subscribe{
    display: block;
}
.subscribes{
    border: none;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 92px;
    height: 33px;
    color: #fff;
    background: #fa8919;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}
.more{
    margin: 35px 0;
}
.more .more-word{ 
    cursor: pointer;
    background: #fff;
    outline: none;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 172px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 300;
}





.right-part{
    padding-bottom: 50px;
    width: 305px;
}
.small-content{
    padding-bottom: 100px;
}
.key-part{
    display: flex;
    flex-basis: 110px;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.key-part .key{
    outline: none;
    background: #fff;
    cursor: pointer;
    display: block;
    line-height: 31px;
    width: 105px;
    height: 31px;
    border: 1px solid #fa8919;
    color: #fa8919;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
}
.recommend-word{
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    color: #404040;
}
.recommend-picture{
    display: block;
    width: 100%;
    height: 137px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.recommend-picture a{
    display: block;
    width: 100%;
    height: 137px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.recommend img{
    width: 100%;
    height: 100%;
}
.recommend-box img{
    width: 100%;
    height: 100%;
}
.recommend-box{
    margin-top: 45px;
}
.recommend-bigbox{
    cursor: pointer;
}
.video-pictre{
    height: 171px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}
.video-word{
    position: absolute;
    top: 7px;
    right: 7px;
    background: #fa8919;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 3px;
    height: 18px;
    line-height: 18px;
    z-index: 10;
}

.up-word{
    color: #404040;
    font-weight: 400;
    font-size: 14px;
    margin-top: 8px;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.down-word{
    color: #888;
    font-size: 13px;
    padding-left: 8px;
}

.follow-box{
    box-sizing: border-box;
    padding: 17px 0px 20px;
    background-size: 100%;
    background: #f8f9fd;
    border-radius: 5px;
}
.up-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.follow-img{
    width: 78px;
    height: 78px;
    margin-right: 3px;
}
.follow-img img{
    width: 100%;
    height: 100%;
}
.size{
    flex: 1;
}
.follow-word{
    font-size: 14px;
    font-weight: 500;
    color: #404040;
    padding-left: 5px;
    position: relative;
    top: -8px;
}
.follow-words{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top:-5px
}
.follow-words span{
    flex-basis: 50%;
    margin-top: 4px;
    color: #888;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
}
.down-box{
    margin-top: 15px;
}
.down-box .other-word{
    font-size: 13px;
    color: #404040;
    font-weight: 500;
    padding-left: 30px;
}
.down-box .other{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-right: 22px;
    padding-left: 22px;
}
.other a{
    flex: 1;
    text-align: center;
    text-decoration: none;
}
.other img{
    width: 70%;
    border-radius: 100%;
}
.other span{
    display: block;
    color: #888;
    font-size: 12px;
    font-weight: 400;
    
}
.cooperation:first-child {
    margin-top: 0;
}
.cooperation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #fcfcfc;
    cursor: pointer;
}
.cooperation span{
    display: block;
    width: 20px;
    height: 20px;
}
.cooperation span img{
    width: 100%;
}
.cooperation p{
    margin-left: 17px;
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
}
.channel p{
    color: #6a9ad4;
}
.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    background: #fcfcfc;
    cursor: pointer;
}
.author p{
    color: #73a7a7;
}
.cooperation .tag{
    font-size: 20px;
    color: #d4d4d4;
    margin-bottom: 5px;
    transform: scale(0.8);
}
.channel:hover{
    background: #f5f9fd;
}
.author:hover{
    background: #f2fbfa;
}
.footer{
    background: #fafafa;
}
.footer-box{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    width: 1200px;
    height: 62px;
    margin: 0 auto;
    padding-right: 100px;
    box-sizing: border-box;
}
.footer-left{
    -webkit-box-flex: 1;
    flex: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 14px;
    font-size: 11px;
    color: #888;
    text-align: center;
    box-sizing: border-box;
}
.footer-left .bottom{
    margin-top: -4px;
}
.footer-left a{
    position: relative;
    color: #888;
    text-decoration: none;
    margin-left: 5px;
}
.footer-left img{
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.footer-right{
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 12px;
    color: #888;
}
.footer-right .footer-imgs{
    margin-left: 16px;
    -webkit-box-flex: 1;
    flex: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
}
.footer-imgs .footer-img{
    position: relative;
    cursor: default;
    height: 45px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 16px;
}
.footer-img .a-img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.footer-img .a-img .icons{
    display: block;
    width: 25px;
    height: 25px;
    color: #d6b88a;
    line-height: 1em;
    background-size: 100%;
}
.footer-img .a-img .cellphone{
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/cellphone.png);
}
.footer-img .a-img .email{
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/email.png);
}
.footer-img .a-img .location{
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/location.png);
}
.itemBox{
    display: none;
    position: absolute;
    white-space: nowrap;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 7px 0 rgba(46,61,72,.12);
    background: #fff;
    color: #888;
    font-weight: 400;
    font-size: 12px;
    z-index: 50;
}
.footer-img:hover .itemBox{
    display: block;
}
.footer-img .itemBox:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    z-index: 51;
    border-left: 0;
    border-top: 0;
    background: #fff;
}
.footer-img:hover .cellphone{
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/cellphone_active.png);
}
.footer-img:hover .email{
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/email_active.png);
}
.footer-img:hover .location{
    background-image: url(https://static001.geekbang.org/static/time/img/geek_elements/location_active.png);
}